<ul class="width-limited-inline-list">
  <li><%= link_to_igv(track) %></li>
  <li><%= link_to track.name, track, id: "track_#{track.id}" %></li>
  <% unless (@project || @projects_and_tracks) %>
    <li>
      <span>
        (<%= link_to track.project.name, track.project %>,
        owner:
        <% if can? :show, track.owner %>
          <%= link_to track.owner.handle, track.owner %>
        <% else %>
          <%= track.owner.handle %>
        <% end %>)
      </span>
    </li>
  <% end %>
  <% if @projects_and_tracks %>
    <li class="text-color-grey pointer">
      <i class="truncated" title=<%= track.path %> data-long=<%= track.path %> data-short=<%= excerpt(track.path, @q, radius: 5) %> data-truncated=true>
        <%= excerpt(track.path, @q, radius: 5) %>
      </i>
    <li>
      <i class="fi-clock medium margin-right text-color-grey" title="updated">
        <%= local_time_ago(track.updated_at) %>
      </i>
    </li>
  <% end %>
</ul>
