<% excerpt_text = @q || track.path[(track.path.length/2).round] %>
<li>
  <div class="left"><%= link_to_igv(track) %></div>

  <div>
    <ul class="by-attrs">
      <li>
        <%= link_to track.name, track %><span class="label genome"><%= track.genome %></span>
      </li>
      <li title=<%= track.path %> data-excerpt-long=<%= track.path %> data-excerpt-short=<%= excerpt(track.path, excerpt_text, radius: 5) %> data-excerpt="short">
          <%= excerpt(track.path, excerpt_text, radius: 5) %>
      </li>
    </ul>

    <ul class="by-attrs">
      <li class="owner-icon icon-key">
        <%= can?(:show, track.owner) ? link_to(track.owner.handle, track.owner) : track.owner.handle %>
      </li>
      <li class="fi-clock icon-key" title="updated">
        <%= local_time_ago(track.updated_at) %>
      </li>
    </ul>
  </div>
</li>
