<div class="track row">
  <div class="small-2 columns">
    <%= link_to_igv(track) %>
  </div>

  <div class="small-10 columns">
    <div>
      <%= link_to track.name, track %><span class="label genome"><%= track.genome %></span>
    </div>

    <div>
      <ul class="true-inline-list">
        <% if @projects_and_tracks %>
          <li class="text-color-grey pointer">
            <i class="truncated" title=<%= track.path %> data-long=<%= track.path %> data-short=<%= excerpt(track.path, @q, radius: 5) %> data-truncated=true>
              <%= excerpt(track.path, @q, radius: 5) %>
            </i>
          </li>
          <li class="text-color-grey fi-clock icon-key" title="updated"><%= local_time_ago(track.updated_at) %></li>
        <% else %>
          <li><%= link_to track.project.name, track.project %></li>
          <li class="user-icon icon-key"><%= can?(:show, track.owner) ? link_to(track.owner.handle, track.owner) : track.owner.handle %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
