<div class="row">
  <div class="small-12 large-6 large-centered columns">
    <h3><%= @track.name %></h3>

    <ul>
      <li>Path: <%= @track.path %></li>
      <li>Created at: <%= @track.created_at %></li>
    </ul>

    <%= link_to 'Edit', edit_track_path(@track) %> |
    <%= link_to 'Back', tracks_path %>
  </div>
</div>
