<% if can? :update, @track %>
  <%= render partial: "tour_link", locals: {tour_name: "tour_track_show_update"} %>
<% else %>
  <%= render partial: "tour_link", locals: {tour_name: "tour_track_show"} %>
<% end %>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="transpanel">
      <div class="track-info">
        <h3>
          <span class="track-name">
            <%= best_in_place_if can?(:update, @track), @track, :name,
              {ok_button: 'save', cancel_button: 'cancel'} %>
          </span>
          <span class="label genome">
            <%= best_in_place_if can?(:update, @track), @track, :genome,
              {ok_button: 'save', cancel_button: 'cancel'} %>
          </span>
        </h3>

        <ul>
          <li>
            <div class="owner-icon icon-key"><%= can?(:manage, @track) ? link_to(@track.owner.handle, @track.owner) : @track.owner.handle %></div>
            <div>in project <%= link_to @track.project.name, @track.project %></div>
          </li>
          <li>
            <%= render partial: 'timestamps', locals: { record: @track } %>
          </li>
        </ul>

        <div class="clipboard-box" id="track-server-path">
          <i class="fi-clipboard copy-to-clipboard pointer" data-clipboard-id="clip_track_path"></i>
          <span id="clip_track_path"><%= @track.full_path %></span>
        </div>
      </div>

      <div class="track-links">
        <ul id="track-download-links">
          <%= render "#{@track.file_format}_links" %>
        </ul>
      </div>

      <div class="igv-js" data-stream-url=<%= stream_services_track_path(@track) %> data-locus-path=<%= locus_path(@locus) %> data-locus-range=<%= @locus.range %> data-track-name=<%= @track.name %> data-genome=<%= @track.genome %>>
      </div>

      <div class="share-track">
        <ul id="track-share-links">
          <li>
            <h5 class="share-icon icon-key">Share links</h5>
          </li>
          <li>
            <% if @track.share_links.any? {|f| f.expired?} %>
              <%= link_to "show expired links", "#", class: "show-expired-share-links" %>
            <% end %>
          </li>
          <li>
            <%= link_to "new", new_share_link_path(share_link: { track_id: @track.id}), id: "new_link", class: "new-button", remote: true %>
          </li>
        </ul>
        <span class="subhead-note">
          Manage shared passwordless access to tracks for outside collaborators and the UCSC browser
        </span>

        <div id="create-share-links">
        </div>

        <div id="share-links-list">
          <% if @track.share_links.any? %>
            <%= render @track.share_links.order(:expires_at) %>
          <% else %>
            <p id="no-share-link">There are no track line links for this track</p>
          <% end %>
        </div>
      </div>
    </div>
    <%= link_to 'Back', :back, class: 'button tiny radius' %>
    <% if can? :destroy, @track %>
      <%= link_to 'Delete', @track, method: :delete, data: { confirm: 'Are you sure? Clicking this button will permanently delete this track' }, class: 'button tiny radius [secondary alert success] right', id: "delete-track" %>
    <% end %>
  </div>
</div>
