<div class="hide" data-tour="tour_track_show"></div>
<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <div class="clearfix">
        <h3 class="left" id="track-name">
          <%= @track.name %>
          <small>
            <% if @track.project %>
              (<%= link_to @track.project.name, @track.project %>)
            <% end %>
          </small>
        </h3>
        <h4 class="right">
          <small id="track-timestamps">
            <span class="created-at"><i class="fi-calendar medium margin-right" title="created"></i>
              <%= local_time_ago(@track.created_at) %>
            </span><br/>
            <span class="updated-at"><i class="fi-clock medium margin-right" title="updated"></i>
              <%= local_time_ago(@track.updated_at) %>
            </span>
          </small>
        </h4>
      </div>

      <div>
        <ul class="inline-list" id="track-download-links">
          <li>
            <%= link_to_igv(@track, 'Open in IGV') %>
            <span class="text-color-grey medium-text">
              IGV must be open
            </span>
          </li>
          <% if Pathname.new(@track.path).extname == ".bam" %>
            <li><%= link_to "download bam file", stream_services_track_path(@track), class: 'fi-download' %></li>
            <li><%= link_to "download bai file", stream_services_track_path(@track, format: 'bai'), class: 'fi-download' %></li>
            <% elsif Pathname.new(@track.path).extname == ".bw" %>
            <li><%= link_to "download bw file", stream_services_track_path(@track), class: 'fi-download' %></li>
          <% end %>
        </ul>
      </div>


      <div>
        <h5>Server path</h5>
        <p class="clipboard-box" id="track-server-path">
          <i class="fi-clipboard copy-to-clipboard pointer" data-clipboard-id="clip_track_path"></i>
          <span id="clip_track_path"><%= @track.path %></span>
        </p>
      </div>

      <div class="share-track">
        <h5 class="no-margin-bottom" id="track-share-links">Track share links</h5>
        <span class="text-color-grey medium-text large-margin-bottom">
          Manage shared passwordless access to tracks for outside collaborators and the UCSC browser
        </span>
        <p class="medium-margin-top" id="create-share-links">
          <%= link_to "Create new share link", new_share_link_path(share_link: { track_id: @track.id}), id: "new_link", class: "big-margin-right", remote: true %>
          <% if @track.share_links.any? {|f| f.expired?} %>
            <%= link_to "show expired links", "#", class: "show-expired-share-links" %>
          <% end %>
        </p>

        <div id="share-links-list">
          <% if @track.share_links.any? %>
            <%= render @track.share_links %>
          <% else %>
            <p id="no-share-link">There are no track line links for this track</p>
          <% end %>
        </div>
      </div>
    </div>

    <%= link_to 'Back', :back, class: 'button tiny radius' %>
  </div>
</div>
