<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <ul class="pricing-table">
      <li class="title"><%= @track.name %></li>
      <li class="bullet-item"><%= @track.path %></li>
      <li class="description">Created <%= local_time_ago(@track.created_at) %></li>
      <li class="description">Updated <%= local_time_ago(@track.updated_at) %></li>
    </ul>

    <%= link_to 'Edit', edit_track_path(@track), class: 'button tiny radius' %>
    <%= link_to 'Back', tracks_path, class: 'button tiny radius' %>
    <%= link_to 'Delete', @track, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius [secondary alert success] right' %>
  </div>
</div>
