<div class="datapath" id='datapath-<%= datapath.id %>'>
  <ul class="no-bullet">
    <li id='datapath-path-<%= datapath.id %>'>
      <%= datapath.path %>
      <%= link_to "", datapath, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "trash-icon margin-left", id: "delete-datapath-#{datapath.id}" %>
      <% if datapath.users.any? %>
        <ul>
          <% datapath.users.each do |user| %>
            <li><%= user.handle %></li>
          <% end %>
        </ul>
      <% end %>
    </li>
  </ul>
</div>
