<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div class="field">
      <p style="color:#FF3333">Please check the highlighted <%= "error".pluralize(@group.errors.count) %> below:</p>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, size: 60, placeholder: 'Group name' %>
  </div>

  <div id="group-owner">
    Group owner: <%= link_to @group.owner.handle, @group.owner %>
  </div></br>

  <div class="field">
    <%= f.collection_select :member_ids, User.all_except(@group.owner), :id, :handle_with_email, {}, {multiple:true} %>
  </div>

  <div class="actions">
    <%= f.submit class: 'button tiny radius' %>
  </div>
<% end %>
