<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <div class="clearfix">
        <h3 class="left"><%= @group.name %></h3>
        <h4 class="right">
          <%= render partial: 'application/timestamps', locals: { record: @group } %>
        </h4>
      </div>

      <div id="members">
        <% @group.members.each do |member| %>
          <p>
            <% if can? :show, member %>
              <%= link_to member do %>
                <%= image_tag avatar_url(member) %>
                <%= member.email %>
              <% end %>
            <% else %>
              <%= image_tag avatar_url(member) %>
              <%= member.email %>
            <% end %>
            <%= "(owner)" if member == @group.owner%>
          </p>
        <% end %>
      </div>
    </div>

    <% if can? :manage, @group %>
      <%= link_to 'Edit', edit_group_path(@group), class: 'button tiny radius' %>
      <%= link_to 'Back', users_path, class: 'button tiny radius' %>
      <%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius [secondary alert success] right' %>
    <% else %>
      <%= link_to 'Back', user_path(current_user), class: 'button tiny radius' %>
    <% end %>
  </div>
</div>
