<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="transpanel">
      <div class="clearfix">
        <h3 class="left"><%= @group.name %></h3>
        <%= render partial: 'timestamps', locals: { record: @group } %>
      </div>

      <ul class="no-bullet" id="members">
        <%= render @group.members %>
      </ul>
    </div>

    <% if can? :manage, @group %>
      <%= link_to 'Edit', edit_group_path(@group), class: 'button tiny radius' %>
      <%= link_to 'Back', :back, class: 'button tiny radius' %>
      <%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius [secondary alert success] right' %>
    <% else %>
      <%= link_to 'Back', :back, class: 'button tiny radius' %>
    <% end %>
  </div>
</div>
