<div id="user-<%= user.id %>">
  <p>
    <% if @project && (can? :manage, @project) %>
      <%= form_for @projects_users.where(user_id: user.id).first, remote: true do |f| %>
        <%= f.check_box :read_only, { checked: f.object.read_only } %>
        <%= f.submit %>
      <% end %>
    <% end %>
    <% if can? :show, user %>
      <%= link_to user do %>
        <%= image_tag avatar_url(user) %>
        <%= @groups_and_users ? user.handle_with_email : user.handle %>
      <% end %>
    <% else %>
      <%= image_tag avatar_url(user) %>
      <%= @groups_and_users ? user.handle_with_email : user.handle %>
    <% end %>
    <% if @project && (user == @project.owner) %>
      <i class="admin-icon small" title="owner"></i>
    <% end %>
    <% if @group && (user == @group.owner) %>
      <%= "(owner)" %>
    <% end %>
  </p>
</div>
