<div class="user-list-item" id="user-<%= user.id %>">
  <% if @project && (can? :manage, @project) %>
    <%= render partial: "projects_user/form", locals: { project_user: @projects_users.where(user_id: user.id).first } %>
  <% end %>
  <% if can? :show, user %>
    <%= link_to user do %>
      <%= image_tag avatar_url(user) %>
      <%= @groups_and_users ? user.handle_with_email : user.handle %>
    <% end %>
  <% else %>
    <%= image_tag avatar_url(user) %>
    <%= @groups_and_users ? user.handle_with_email : user.handle %>
  <% end %>
  <% if @project && (user == @project.owner) %>
    <i class="admin-icon small" title="owner"></i>
  <% end %>
  <% if @group && (user == @group.owner) %>
    <%= "(owner)" %>
  <% end %>
</div>
