<p id="project-user-<%= user.id %>">
  <% if can? :manage, User %>
    <%= link_to user do %>
      <%= image_tag avatar_url(user) %>
      <%= user.email %>
    <% end %>
  <% else %>
    <%= image_tag avatar_url(user) %>
    <%= user.email %>
  <% end %>
  <% if user == @project.owner%>
    <i class="fi-sheriff-badge small" title="owner"></i>
  <% end %>
</p>
