<div class="row">
  <div class="medium-6 columns">
    <div class="panel">
      <h3>Current users</h3>
      <ul class="inline-list">
        <li><i class="fi-ticket medium icon_key"> Invite outstanding</i></li>
        <li><i class="fi-crown medium icon_key"> Admin</i></li>
        <li><i class="fi-key medium icon_key"> Inviter</i></li>
      </ul>

      <% @users.each do |user| %>
        <p>
          <a class="th" href=<%= user_path(user) %> id=<%="hexdigest-#{Digest::MD5.hexdigest(user.email.downcase)}"%>>
            <%= image_tag avatar_url(user, 48) %>
          </a>
          <%= link_to user.email, user %>
          <% if user.invitation_accepted? == false && user.sign_in_count == 0 %>
            <i class="fi-ticket medium"></i>
          <% end %>
          <% if user.has_role? :admin %>
            <i class="fi-crown medium"></i>
          <% end %>
          <% if user.has_role? :inviter %>
            <i class="fi-key medium"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="panel">
      <h3>Invite a new user</h3>
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post}) do |f| %>
        <div>
          <%= f.text_field :email, placeholder: 'Email' %>
        </div>

        <% if can? :manage, User %>
          <div>
            <%= check_box_tag(:inviter) %>
            <%= label_tag(:inviter, "Check to grant inviter priviledges to this user") %>
          </div>
        <% end %>
        <div>
          <%= f.submit I18n.t('devise.invitations.new.submit_button'), class: 'button tiny radius' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
