<%= render partial: "tour_link", locals: {tour_name: "tour_user_index"} %>

<div class="row">
  <div class="medium-6 columns">
    <div class="panel">
      <h3 id="invite-user">Invite a new user</h3>
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post}) do |f| %>
        <div>
          <%= f.text_field :email, placeholder: 'Email' %>
        </div>

        <% if can? :manage, User %>
          <div>
            <%= check_box_tag(:inviter) %>
            <%= label_tag(:inviter, "Check to grant inviter priviledges to this user") %>
          </div>
        <% end %>
        <% if can? :manage, Project %>
          <div>
            <%= label_tag :project_id, 'Add invitee to existing projects:', class: "medium-margin-bottom" %>
            <%= select_tag :project_ids, options_from_collection_for_select(Project.all, "id", "name"), include_blank: true, multiple: true %>
          </div>
        <% end %>
        <div>
          <%= f.submit I18n.t('devise.invitations.new.submit_button'), class: 'button tiny radius', id: "invite-email" %>
        </div>
      <% end %>
    </div>

    <div class="panel">
      <h3 id="current-users">Current users</h3>
      <ul class="inline-list">
        <li><i class="fi-ticket medium icon_key"> Invite outstanding</i></li>
        <li><i class="fi-crown medium icon_key"> Admin</i></li>
        <li><i class="fi-key medium icon_key"> Inviter</i></li>
      </ul>

      <% @users.each do |user| %>
        <p class="current-user">
          <%= link_to user do %>
            <%= image_tag avatar_url(user) %>
            <%= user.email %>
          <% end %>
          <% if user.invitation_accepted? == false && user.sign_in_count == 0 %>
            <i class="fi-ticket medium"></i>
          <% end %>
          <% if user.has_role? :admin %>
            <i class="fi-crown medium"></i>
          <% end %>
          <% if user.has_role? :inviter %>
            <i class="fi-key medium"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="medium-6 columns">
    <div class="panel">
      <h3 id="groups-headline">Groups</h3>
      <ul class="no-bullet" id="group-list">
        <%= render partial: "groups/group", collection: @groups %>
      </ul>
      <div>
        <%= link_to 'New Group', new_group_path, class: "button tiny radius" %>
      </div>
    </div>
  </div>
</div>
