<div class="box">
  <div class="large-6 columns">
    <ul class="pricing-table">
      <li class="title">Current users</li>
      <% @users.each do |user| %>
        <li class="bullet-item"><%= user.email %></li>
      <% end %>
    </ul>
  </div>
  <div class="large-6 columns panel">
    <h3>Invite a new user</h3>
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post}) do |f| %>
      <div>
        <%= f.text_field :email, placeholder: 'Email' %>
      </div>

      <% if can? :manage, User %>
        <div>
          <%= check_box_tag(:inviter) %>
          <%= label_tag(:inviter, "Check to grant inviter priviledges to this user") %>
        </div>
      <% end %>
    <div>
    <%= f.submit I18n.t('devise.invitations.new.submit_button'), class: 'button tiny radius' %>
  </div>
<% end %>
