<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <div class="row">
        <div class="small-4 medium-2 columns">
          <%= image_tag avatar_url(@user, 100) %>
        </div>
        <div class="small-8 medium-8 columns left">
          <h3 class="text-panel-overhang"><%= @user.email %></h3>
        </div>
      </div>
      <hr/>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <h4>Groups</h4>
          <ul class="no-bullet">
            <%= render @user.groups %>
          </ul>
        </div>
        <div class="small-12 medium-6 columns">
          <h4>Projects<small> full index of your <%= link_to "projects", projects_path %></small></h4>
          <ul class="no-bullet">
            <% @user.projects.each do |project| %>
              <li id="project_<%= project.id %>">
                <%= link_to project.name, project %> <span class="text-color-grey">owned by <%= project.owner.email %></span>
              </li>
            <% end %>
          </ul>
          <h4><small> List all your <%= link_to "tracks", tracks_path %></small></h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <% if @user == current_user %>
      <%= link_to 'Edit', edit_user_registration_path, class: 'button tiny radius' %>
    <% end %>
    <%= link_to 'Back', :back, class: 'button tiny radius' %>
  </div>
</div>
