<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="field">
      <p style="color:#FF3333">Please check the highlighted <%= "error".pluralize(@project.errors.count) %> below:</p>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-5 columns">
      <% if can? :manage, @project %>
        <h4>Name</h4>
        <div class="field">
          <%= f.text_field :name, size: 60, placeholder: 'Project name' %>
        </div>

        <h4 id="project-users"><i class="users-icon large margin-rigth"></i>Users</h4>

        <div id="project-owner">
          Project owner: <%= link_to @project.owner.email, @project.owner %>
        </div></br>

        <div class="field">
          <%= f.collection_select :user_ids, User.all_except(@project.owner), :id, :email, {}, {multiple:true} %>
        </div>
      <% else %>
        <h4><i class="users-icon large margin-rigth"></i>Users</h4>
        <%= render @project.users %>
      <% end %>
    </div>
    <div class="small-12 medium-offset-1 medium-6 columns">
      <h4><i class="track-icon large margin-right"></i>Tracks</h4>
      <h4><small>Changes to tracks saved when project is created/updated</small></H4>
      <%= f.fields_for :tracks do |builder| %>
        <%= render 'track_fields', f: builder, k: nil %>
      <% end %>
      <%= link_to_add_fields "Add a track", f, :tracks %>
    </div>
  </div></br></br>

  <div class="actions">
    <%= f.submit class: 'button tiny radius update-project-tracks' %>
  </div>
<% end %>
