<%= form_for @project, remote: true do |f| %>
  <% if @project.errors.any? %>
    <div class="field">
      <p style="color:#FF3333">Please check the highlighted <%= "error".pluralize(@project.errors.count) %> below:</p>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 medium-5 columns">
      <h4>New Project</h4>
      <div class="field">
        <%= f.text_field :name, size: 60, placeholder: 'Project name' %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: 'button tiny radius update-project-tracks' %>
    <%= link_to 'Cancel', '#', class: 'button tiny radius', id:'project-cancel' %>
  </div>
<% end %>
