<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div class="field">
      <p style="color:#FF3333">Please check the highlighted <%= "error".pluralize(@project.errors.count) %> below:</p>
    </div>
  <% end %>

  <div class="field">
    <%= f.fields_for :tracks do |builder| %>
      <fieldset>
        <ul class="inline-list">
          <li><%= link_to builder.object.name, builder.object, class: "track-name"%></li>
          <li><%= link_to "edit", '#', class: "edit-track" %></li>
          <li><%= link_to "done", '#', class: "done-track" %></li>
          <li><%= link_to "delete", '#', class: "remove-track" %></li>
          <li><%= link_to "restore", '#', class: "restore-track" %></li>
        </ul>
        <div class="track-form-group">
          <%= builder.label :name %>
          <%= builder.text_field :name %>
          <%= builder.label :path %>
          <%= builder.text_field :path %>
          <%= builder.hidden_field :_destroy %>
        </div>
      </fieldset>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit class: 'button tiny radius update-project-tracks' %>
  </div>
<% end %>
