<div class="track-form-group <%= k.nil? ? '' : k %>">
  <ul class="inline-list">
    <li class="track-name"><%= f.object.name if f.object.id %></li>
    <li><%= link_to "edit", '#', class: "edit-track" %></li>
    <li><%= link_to "done", '#', class: "done-track" %></li>
    <li><%= link_to "delete", '#', class: "remove-track" %></li>
    <li><%= link_to "restore", '#', class: "restore-track" %></li>
  </ul>
  <div class="track-form-fields">
    <label>Enter the name of the track here. This should be short, as it will be used as the title of the track in IGV or the UCSC browser</label>
    <%= f.text_field :name, placeholder: 'Name' %>
    <label>Enter the full path to the track. This must begin with:
      <ul class="no-bullet allowed-track-paths">
        <% ENV['ALLOWED_TRACK_PATHS'].split(':').each do |path| %>
          <li><%= path %></li>
        <% end %>
      </ul>
    </label>
    <%= f.text_field :path, placeholder: 'Path' %>
    <%= f.hidden_field :_destroy %>
  </div>
</div>
