<% if current_user.has_role? :admin %>
  <%= render partial: "tour_link", locals: {tour_name: "tour_admin_project_edit"} %>
<% else %>
  <%= render partial: "tour_link", locals: {tour_name: "tour_project_edit"} %>
<% end %>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <% if can? :manage, @project %>
        <h2 id="edit-project-headline">Edit project</h2>
      <% else %>
        <h2>Edit <%= @project.name %> tracks</h2>
      <% end %>

      <%= render 'form' %>

      <%= link_to 'Cancel', @project, class: 'button tiny radius' %>
    </div>
  </div>
</div>
