<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <% if can? :manage, Project %>
      <%= link_to 'New Project', new_project_path, class: "button tiny radius" %>
    <% end %>
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
      <% @projects.each do |project| %>
        <li id="project_<%= project.id %>">
          <ul class="no-bullet panel">
            <li class="headline">
              <%= link_to project.name, project, class: "text-panel-overhang" %>
            </li>
            <li>
              <i class="fi-paw small" title="tracks"></i>
              <%= project.tracks.count %>
              <i class="fi-torsos small left-buffer" title="users"></i>
              <%= project.users.count %>
            </li>
            <% if can? :manage, User %>
              <li class="sub-text">owner: <%= link_to project.owner.email, project.owner, class: "text-panel-overhang" %></li>
              <% else %>
               <li class="sub-text text-panel-overhang">owner: <%= project.owner.email %></li>
              <% end %>
            <li class="sub-text">updated: <%= local_time_ago(project.updated_at) %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
