<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <% if can? :manage, Project %>
      <%= link_to 'New Project', new_project_path, class: "button tiny radius" %>
    <% end %>
    <div class="panel">
      <h3>Projects</h3>
      <% @projects.each_slice(3) do |projects_slice| %>
        <ul class="small-block-grid-3">
        <% projects_slice.each do |project| %>
          <li id="project_<%= project.id %>">
            <ul class="no-bullet">
              <li>
                <b><%= link_to project.name, project %></b>
                <span class="secondary radius label"><%= project.tracks.count %> tracks</span>
              </li>
              <% if can? :manage, User %>
                <li>owner: <%= link_to project.owner.email, project.owner %></li>
                <% else %>
                 <li>owner: <%= project.owner.email %></li>
                <% end %>
              <li>updated: <%= local_time_ago(project.updated_at) %></li>
            </ul>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
