<%= render partial: "tour_link", locals: {tour_name: "tour_project_show"} %>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <div class="clearfix">
        <h3 class="left" id="project-name">
          <%= @project.name %>
        </h3>
        <%= render partial: 'timestamps', locals: { record: @project } %>
      </div>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <h4 id="regular-users"><i></i>Users [<%= @regular_users.count %>]</h4>
          <div id="project-users-regular">
            <%= render partial: "projects/project_user", collection: @regular_users, as: :user %>
          </div>
          <h4 id="read-only-users"><i></i>Read-Only Users [<%= @read_only_users.count %>]</h4>
          <div id="project-users-read-only">
            <%= render partial: "projects/project_user", collection: @read_only_users, as: :user %>
          </div>
        </div>
        <div class="small-12 medium-6 columns">
          <h4 id="project-tracks"><i class="track-icon large margin-right"></i>Tracks
            <small>view all your <%= link_to 'tracks', tracks_path, id: "all-user-tracks" %></small>
          </h4>
          <div id="project-tracks-list">
            <%= render @project.tracks %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <% if can? :manage, @project %>
      <%= link_to 'Edit', edit_project_path(@project), class: 'button tiny radius' %>
    <% elsif can? :edit, @project %>
      <%= link_to 'Add or edit tracks', edit_project_path(@project), class: 'button tiny radius' %>
    <% end %>
    <%= link_to 'Back', :back, class: 'button tiny radius' %>
    <% if can? :manage, @project %>
      <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure? Clicking this button will delete this project and all its associated tracks' }, class: 'button tiny radius [secondary alert success] right', id: "delete-project" %>
    <% end %>
  </div>
</div>
