<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <div class="clearfix">
        <h3 class="left"><%= @project.name %></h3>
        <h4 class="right"><small>
          created: <%= local_time_ago(@project.created_at) %><br/>
          updated: <%= local_time_ago(@project.updated_at) %></small>
        </h4>
      </div>

      <div class="row">
        <div class="small-12 medium-6 columns">
          <h4>Users</h4>
            <% @project.users.each do |user| %>
            <p id="project-user-<%= user.id %>">
              <% if can? :manage, User %>
                <%= link_to user do %>
                  <%= image_tag avatar_url(user) %>
                  <%= user.email %>
                <% end %>
              <% else %>
                <%= image_tag avatar_url(user) %>
                <%= user.email %>
              <% end %>
            </p>
            <% end %>
        </div>
        <div class="small-12 medium-6 columns">
          <h4>Tracks</h4>
          <ul class="no-bullet">
            <% @project.tracks.each do |track| %>
              <li>
                <%= link_to_igv(track) %>
                <%= link_to track.name, track, class: "track" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <% if can? :edit, @project %>
      <%= link_to 'Edit', edit_project_path(@project), class: 'button tiny radius' %>
    <% end %>
    <%= link_to 'Back', projects_path, class: 'button tiny radius' %>
    <% if can? :manage, @project %>
      <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny radius [secondary alert success] right' %>
    <% end %>
  </div>
</div>

