<%= form_for @share_link, remote: true do  |f| %>
  <fieldset>
    <% if @share_link.errors.any? %>
      <div class="field">
        <p style="color:#FF3333">Please check the highlighted <%= "error".pluralize(@share_link.errors.count) %> below:</p>
      </div>
    <% end %>

    <div class="row">
      <div class="large-5 columns">
        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix"><i class="fi-calendar large"></i></span>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.datetime_field :expires_at, placeholder: "Choose expiration date", value: (@share_link.expires_at.blank? ? '' : @share_link.expires_at.strftime('Expires on %d, %B %Y')) %>
          </div>
        </div>
      </div>

      <div class="large-7 columns">
        <%= f.text_field :notes, placeholder: "Enter notes here" %>
      </div>

       <%= f.hidden_field :track_id %>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.submit class: 'button tiny radius share-track-submit' %>
        <%= link_to "Cancel", "#", class: 'button tiny radius share-track-cancel' %>
      </div>
    </div>
  </fieldset>
<% end %>
