<%= form_for @share_link, remote: true do  |f| %>
  <fieldset>
    <% if @share_link.errors.any? %>
      <div class="field">
        <p style="color:#FF3333">Please check the highlighted <%= "error".pluralize(@share_link.errors.count) %> below:</p>
      </div>
    <% end %>

    <div class="row">
      <div class="large-5 columns">
        <div class="row collapse">
          <div class="small-3 large-2 columns">
            <span class="prefix"><i class="fi-calendar large-calendar"></i></span>
          </div>
          <div class="small-9 large-10 columns">
            <%= f.datetime_field :expires_at, placeholder: "Choose expiration date", class: "no-margin-bottom", value: (@share_link.expires_at.blank? ? '' : @share_link.expires_at.strftime('Expires: %d, %b %Y')) %>
          </div>
        </div>
        <span class="text-color-grey medium-text">
          Expiration date defaults to two weeks from today
        </span>
        <ul class="inline-list no-margin-bottom">
          <li><%= link_to "1 week", "#", class: "one-week medium-text medium-margin-bottom" %></li>
          <li><%= link_to "1 month", "#", class: "one-month medium-text medium-margin-bottom" %></li>
          <li><%= link_to "1 year", "#", class: "one-year medium-text medium-margin-bottom" %></li>
        </ul>
      </div>

      <div class="large-7 columns">
        <%= f.text_field :notes, placeholder: "Enter notes here" %>
      </div>

       <%= f.hidden_field :track_id %>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <%= f.submit class: 'button tiny radius share-track-submit no-margin-bottom' %>
        <%= link_to "Cancel", "#", class: 'button tiny radius share-track-cancel no-margin-bottom' %>
      </div>
    </div>
  </fieldset>
<% end %>
