<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Bambam', root_url %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li><%= link_to 'Users', users_url %></li>
      <li><%= link_to 'Tracks', '#' %></li>
      <li><%= link_to 'Directories', '#' %></li>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to I18n.t('devise.sessions.sign_in'), new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav
