<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <% if user_signed_in? %>
        <h1><%= link_to ' Bambam', projects_path, class: "fi-home" %></h1>
      <% else %>
        <h1><%= link_to ' Bambam', root_url, class: "fi-home" %></h1>
      <% end %>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <% if can? :invite, User %>
        <li><%= link_to 'Users', users_url %></li>
      <% end %>
      <% if can? :manage, Datapath %>
        <li><%= link_to 'Datapaths', datapaths_url %></li>
      <% end %>
      <li><%= link_to 'Projects', projects_path %></li>
      <!-- Search bar -->
      <% if user_signed_in? %>
        <li class="has-form">
          <div class="row collapse">
            <%= form_tag(search_path, method: :get) do %>
              <div class="large-8 small-9 columns">
                <%= text_field_tag :q, nil , placeholder: "Search", id: "nav_search_box", value: @q %>
              </div>
              <div class="large-4 small-3 columns">
                <%= submit_tag 'Search', class: "button expand", id: "nav_search_btn" %>
              </div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to 'help', help_path %></li>
        <li><%= link_to current_user.email, user_path(current_user), title: 'account profile' %></li>
        <li><%= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to I18n.t('devise.sessions.sign_in'), new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
