<!DOCTYPE html>
<html>
<head>
  <title>Bambam</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flash">
  <% flash.each do |name, msg| %>
    <div class="<%= name %>">
      <%= msg %>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
